.cardContainer {
    display: grid;
    /* border: 3px solid #fff; */
    padding: 30px;  
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: max-content;
    height: 100vh; */
    grid-gap: 20px;
    background-color: black;
    /* margin: 10px; */

}

#welcomeMessage {
  color: #f07900;
}

.card {
    background-color: white;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 75%;
    height: 100%; 
  /* no need to set height as height is controled my the grid container */
  /* border: 2px solid red;    ; */
 text-align: center;
 margin: auto;
 /* padding-bottom: 10px; */
} 

.deleteButton {
  margin-bottom: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

#headline:hover {
    cursor: pointer;
}