.nav {
  padding: 0px;
  background-color: pink;
  /* overflow: hidden; */
  height: 76px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;

}


.nav-title {
    font-size: 18px;
    font-weight: 700;
    float: left;
    color: magenta;
    

}



.nav-link {
  float: right;
  color: #f2f2f2;
  background-color: black;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
  height: 76px;
  

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: #f07900;
}

.nav-right {
  float: right;
}

#navLogoContainer {
  height: 60px;
  width: 60px;
  padding: 5px
}



